<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>جزئیات حساب</title>
    <link rel="stylesheet" href="/static/css/profile-details.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>

    {% include 'includes/navbar.html' %}
    {% include 'includes/messages.html' %}
    <div class="profile-content-container">
        <div class="profile-content">
            <div class="profile-main-content">
                <form method="post" novalidate>
                    {% csrf_token %}
                    <div class="validation-error">
                        {{ profile_edit.as_p }}
                    </div>
                    <button type="submit">ذخیره تغیرات</button>
                </form>
            </div>
            <div class="profile-menu">
                <ul>
                    <li class="user-profile-icon"><i class="fa fa-user"></i></li>
                    <li><a href="{% url 'accounts:account' %}">پیشخوان</a></li>
                    <li><i class="fa fa-arrow-right arrow-right"></i><a href="{% url 'accounts:account-detail' %}">جزئیات حساب</a><i
                            class="fa fa-user"></i></li>
                    <li><a href="#">محصولات خریداری شده</a><i class="fa fa-shopping-bag"></i></li>
                    <li><a href="{% url 'accounts:logout' %}">خروج از حساب</a><i class="fa fa-sign-out"></i></li>
                </ul>
            </div>
        </div>
    </div>

    {% include 'includes/footer.html' %}
</body>

</html>