body {
    background-color: #12151c;
}

* {
    margin: 0;
}

.checkout-container {
    padding: 1vw;
}


.checkout-bag-shop {
    position: absolute;
    display: inline-block;
    background-color: #dbdada;
    width: calc(calc(50%) - 3vw);
    height: 43vw;
    margin-left: 1vw;
    padding: 1vw 0 1vw 1vw;
    overflow: scroll;
}

.checkout-bag-shop img {
    display: inline-block;
    width: 6vw;
    height: 6vw;
    margin-right: 1vw;
}

.checkout-bag-shop-details {
    display: inline-block;
}

.checkout-bag-shop-details p {
    margin: 0.5vw 0;
}

.total-cost {
    background-color: white;
    padding: 1vw;
    width: 40vw;
    border-radius: 1vw;
    margin: 2vw auto;
    text-align: center;
}

.total-cost h1 {
    padding-bottom: 1vw;
}
.total-cost a {
    text-decoration: none;
    font-size: 2vw;
    display: block;
    text-align: center;
    margin: 4vw auto 2vw;
    background-color: rgb(32, 168, 32);
    color: white;
    padding: 1vw 0;
    width: 30vw;
    border-radius: 1vw;
}
.total-cost a:hover {
    font-size: 2.2vw;
    background-color: rgb(32, 32, 255);
    transition: 0.1s;
}
.checkout-user-details {
    display: inline-block;
    background-color: #FFFFFF;
    width: calc(calc(50%) - 1vw);
}
.checkout-user-details form {
    padding: 2vw;
}
.checkout-user-details input, select {
    width: 70%;
    display: block;
    padding: 0.5vw;
    font-size: 1.3vw;
    margin-bottom: 2vw;
    border: none;
    background-color: #dbdada;
}

.checkout-user-details label {
    font-size: 1.6vw;
}

.checkout-bag-shop-item {
    border-bottom: 1px solid black;
    margin-bottom: 1vw;
    padding-bottom: 1vw;
}
.checkout-bag-shop-item a {
    background-color: #b71111;
    color: white;
    border-radius: 3vw;
    padding: 0.5vw;
    /*font-weight: 550;*/
}

.checkout-bag-shop-item a:hover {
    font-size: 1vw;
    transition: 0.3s;
}

@media (max-width: 767.98px) {
    .checkout-user-details {
        position: relative;
        width: 100%;
        margin: 0;
        padding: 10vw 0 0 0;
    }
    .checkout-bag-shop {
        position: relative;
        width: 100%;
        height: 60vw;
        padding: 0;
        margin: 6vw 0;
    }
    .checkout-user-details form {
        padding: 6vw;
        margin: 0;
    }
    .checkout-bag-shop img {
        width: 22vw;
        height: 22vw;
        margin-right: 1vw;
    }
    .total-cost {
        width: 100%;
        padding: 3vw 0;
    }
    .checkout-bag-shop-item {
        padding: 6vw;
    }
    .total-cost p {
        font-size: 6vw;
    }
    .total-cost a { 
        font-size: 6vw;
        padding: 3vw 0;
    }
    .checkout-user-details input, select {
        padding: 1.5vw;
        font-size: 3.5vw;
        margin-bottom: 4vw;
    }
    .checkout-user-details label {
        font-size: 5.6vw;
    }
    .checkout-container {
        padding: 9vw;   
    }
}