body {
    background-color: #12151C;
}

* {
    margin: 0;
    /*padding: 0;*/
}

.shoping-content {
    padding: 3vw;
}

.shoping-sort-by {
    width: calc(calc(100% / 4));
    background-color: white;
    display: inline-block;
    padding: 2vw 0 3vw 3vw;
}

.shoping-main-content {
    width: 69%;
    background-color: white;
    display: inline-block;
    vertical-align: top;
    margin-left: 2vw;
}

.shoping-main-content a {
    text-decoration: none;
    color: white;
    padding: 0.6vw;
    font-size: 1.6vw;
    border-radius: 2vw;
    background-color: #295BE9;
}

.shoping-main-content a:hover {
    background-color: white;
    color: #295BE9;
}

.shoping-items {
    position: relative;
    width: 13vw;
    background-color: #12151C;
    display: inline-block;
    padding: 1vw 1vw 3vw;
    margin: 3vw;
    text-align: center;
}

.shoping-items img {
    height: 16vw;
    width: 100%;
}

.shoping-items p {
    color: white;
    padding: 1vw;
}

.shoping-items h2 {
    color: white;
}


.shoping-sort-by select {
    font-size: 2vw;
    text-align: center;
    border: orange 1px solid;
}

.shoping-sort-by h2 {
    padding: 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@media (max-width: 767.98px) {
    .shoping-sort-by {
        width: 100%;
        border-bottom: 2px solid black;
        background-color: rgb(255, 255, 255);
        text-align: center;
        padding: 3vw 0;
    }
    .shoping-sort-by select {
        font-size: 6vw;

    }
    .shoping-main-content {
        width: 100%;
        /* position: relative;  */
        /* top: 20vw; */
        margin: 0;
        /* right: 0; */
    }

    .shoping-items {
        padding: 3vw;
        width: 34vw;
    }

    .shoping-items img {
        height: 46vw;
    }
}