<div class="login-container" id="login-form">
    <div class="login-form animate" id="login-box">
        <span onclick="document.getElementById('login-form').style.display='none'" class="close"
              title="Close Modal">&times;</span>
        <form method="post", action="{% url 'accounts:login' %}">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button class="login-btn" type="submit">ورود</button>
            <button onclick="SingUp()" class="sign-up-btn" type="button">ثبت نام</button>
        </form>
    </div>
    <!-- ================( sign-up form )======================== -->
    <div class="sign-up-form animate" id="sign-up-box">
        <span onclick="document.getElementById('login-form').style.display='none'" class="close"
              title="Close Modal">&times;
        </span>
        <form method="post", action="{% url 'accounts:register' %}">
            {% csrf_token %}
            <h2>ایجاد حساب کاربری</h2>
            {{ register_form.as_p }}
            <button class="register-btn" type="submit">ثبت نام</button>
            <button onclick="SingIn()" class="sing-in-btn" type="button">ورود</button>
        </form>
    </div>
</div>


 <script>
     function LoginForm() {
         document.getElementById("login-form").style.display = "block"
     }

     var login_form = document.getElementById("login-form");
     window.onclick = function (event) {
         if (event.target === login_form) {
             login_form.style.display = "none"
         }else if (event.target === search) {
             search.style.display = 'none'
         }
     }

     function SingUp() {
            document.getElementById("login-box").style.display = "none"
            document.getElementById("sign-up-box").style.display = "block"
        }
     function SingIn() {
         document.getElementById("sign-up-box").style.display = "none"
         document.getElementById("login-box").style.display = "block"
     }
 </script>