<!-- ================( navbars )======================== -->
<div class="clear_fixed"></div>
<nav class="main-nav">
    <ul class="ul-left">
        {% if not request.user.is_authenticated %}
            <li><button onclick="LoginForm()">ورود / ثبت نام</button></li>
        {% elif request.user.is_authenticated %}
            <div class="profile-box-container">
                <p><i class="fa fa-user"></i>{{ request.user.username|truncatechars:7 }}</p>
                <div class="profile-box">
                    <a href="{% url 'accounts:account' %}">پنل کاربری</a>
                    <a href="{% url 'accounts:logout' %}">خروج از حساب</a>
                </div>
            </div>
            <a class="#"><i class="basket-icon fa fa-shopping-bag"></i></a>
        {% endif %}
    </ul>
    <ul class="ul-middle">
        <li><a href="#">درباره ما</a></li>
        <li class="dropdown">
            <i class="fa fa-arrow-down"></i>
            محصولات
            <div class="dropdown-content">
                <div>
                    <a href="{% url 'shop:shop-shoes' %}">کفش</a>
                    <a href="#">کیف</a>
                    <a href="#">شال</a>
                </div>
            </div>
        </li>
        <li><a href="#">ارتباط با ما</a></li>
    </ul>
    <ul class="ul-right">
        <li><a href="#"><i class="fa fa-search"></i></a></li>
        <li><a href="{% url 'home:home' %}"><i class="fa fa-home"></i></a></li>
    </ul>
</nav>
<div class="clear_fixed"></div>
<!-- ----------------------------------------------------------- -->

<nav class="nav-response-fixed">
    <ul>
        <button class="btn-burger" onclick="MenuBar()"><i class="fa fa-bars"></i></button>
        {% if not request.user.is_authenticated %}
        <li class="nav-responsive-login-li">
            <button class="nav-responsive-login" onclick="LoginForm()">ورود / ثبت نام</button>
        </li>
        {% elif request.user.is_authenticated %}
            <li>
            <div class="profile-box-container">
                <p><i class="fa fa-user"></i>{{ request.user.username|truncatechars:7 }}</p>
                <div class="profile-box">
                    <a href="{% url 'accounts:account' %}">پنل کاربری</a>
                    <a href="{% url 'accounts:logout' %}">خروج از حساب</a>
                </div>
            </div>
            <a class="#"><i class="basket-icon fa fa-shopping-bag"></i></a>
            </li>
        {% endif %}
        <li><a href="#"><i class="fa fa-search"></i></a></li>
        <li><a href="{% url 'home:home' %}"><i class="fa fa-home"></i></a></li>
    </ul>
</nav>
{#<div class="profile-box">#}
{#    <a href="#">پنل کاربری</a>#}
{#    <a href="{% url 'accounts:logout' %}">خروج از حساب</a>#}
{#</div>#}
<!-- ----------------------------------------------------------- -->

<nav class="nav-responsive" id="nav-responsive">
    <ul>
        <button class="btn-cross" onclick="CloseMenu()"><i class="fa fa-window-close"></i></button>


        <form class="nav-search-box">
            <input type="search" placeholder="... جستجو">
            <button type="button"><i class="fa fa-search"></i></button>
        </form>

        <li>
            <a href="#">صفحه نخصت</a>
        </li>

        <li class="dropleft">
            <i class="fa fa-arrow-down"> </i>
            <a href="#"> محصولات </a>
            <div class="dropleft-content">
                <a href="{% url 'shop:shop-shoes' %}">کفش</a>
                <a href="#">کیف</a>
                <a href="#">شال</a>
            </div>
        </li>
        <li>
            <a href="#">ارتباط با ما</a>
        </li>
        <li>
            <a href="#">درباره ما</a>
        </li>
    </ul>
</nav>

<script>
    function MenuBar() {
        document.getElementById("nav-responsive").style.width = "46vw"
    }

    function CloseMenu() {
        document.getElementById("nav-responsive").style.width = "0"
    }
</script>