<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>فروشگاه</title>
    <link rel="stylesheet" href="/static/css/shop.css">
    <link rel="stylesheet" href="/static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/footer.css">
    <link rel="stylesheet" href="/static/css/login-form.css">
</head>
<body>
    {% include 'includes/login-form.html' %}
    {% include 'includes/navbar.html' %}
    {% include 'includes/messages.html' %}
    <div class="shoping-content">
        <div class="shoping-container">
            <div class="shoping-sort-by">
                <h2>ترتیب نمایش</h2>
                <form method="get">
                    {{ shop_select }}
                    <button id="clickButton" type="submit" style="visibility: hidden"></button>
                </form>
            </div>

            <div class="shoping-main-content">
            {% for i in shoes %}
                <div class="shoping-items">
                    <a href="{% url 'shop:shoes_detail' i.id %}">
                        <img src="{{ i.image.url }}" alt="">
                        <h2>{{ i.subject }}</h2>
                        <p>{{ i.body }}</p>
                        <p>{{ i.price }}</p>
                    </a>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>

    {% include 'includes/footer.html' %}

    <script>
        var slt = document.getElementById('id_sort_by')
        slt.onchange = function(){
            var button = document.getElementById('clickButton');
            button.form.submit();
        }
    </script>
</body>
</html>